{% load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<body>

<table class="table table-hover">


<tbody>
  <form method="post">
  <fieldset>
    <legend> <h1> Login</h1> </legend>
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
    
  </fieldset>
      <input class="btn btn-outline-success" type="submit" value="Login">
      <input type="hidden" name="next" value="{% url 'log_browser' %}">


  </form>
</tbody>
</table>

</body>
