<!DOCTYPE html>
<html>


{% load static %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myChart" width="400" height="50"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for i in barchart_labels %} '{{i}}', {% endfor %}] ,
        datasets: [{
            label: '# of Logs',
            data: [{% for i in barchart_values %} '{{i}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>



<form method="post">
 <fieldset>
      {% csrf_token %}
      Command <input name="command" id="title">
    <input type="submit" value="Execute">
 </fieldset>
 </form>

<style>
.wrapper {
  display: flex;
  justify-content: space-between;

}
</style>

<div class="wrapper">

{% if command_result %}
<div>
  <caption ><h2>{{ command }}</h2></caption>
<table class="table table-hover">

  <thead class="table-primary"> 
        <th>Result</th> 
</thead>
<tbody>
    {% for line in command_result %}
        <tr> 
            <td> {{ line }} </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
<div>
  <p>_</p> 
  <br>
</div>
{% endif %}

<div>

  <caption ><h2>Logs</h2></caption>
<table class="table table-hover">


  <thead class="table-primary"> 
        <th>date</th> 
        <th>hostname</th> 
        <th>msg</th> 
</thead>
<tbody>
    {% for log in log_list %}
        <tr> 
            <td> {{ log.date }} </td>
            <td> {{ log.hostname }} </td>
            <td> {{ log.msg }} </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
 {% comment %}
  <thead> 
        <th>prival</th> 
        <th>version</th> 
        <th>date</th> 
        <th>hostname</th> 
        <th>appname</th> 
        <th>procid</th> 
        <th>msgid</th> 
        <th>structureddata</th> 
        <th>msg</th> 
        <th>original_msg</th> 
</thead>
<tbody>
    {% for log in log_list %}
        <tr> 
            <td> {{ log.prival }} </td>
            <td> {{ log.version }} </td>
            <td> {{ log.date }} </td>
            <td> {{ log.hostname }} </td>
            <td> {{ log.appname }} </td>
            <td> {{ log.procid }} </td>
            <td> {{ log.msgid }} </td>
            <td> {{ log.structureddata }} </td>
            <td> {{ log.msg }} </td>
            <td> {{ log.original_msg }} </td>
        </tr>
    {% endfor %}
</tbody>
</table>
 {% endcomment %}
</html>
